{% extends "base.html" %}
{% load static %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="../tracker/admin">Home</a></li>
                    <li class="breadcrumb-item "><a href="../tracker/employees">Employee</a></li>
                    <li class="breadcrumb-item active">Add Employee</li>
                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->
      
          <!-- Main content -->
          <div class="content">
            <div class="container-fluid">
              <div class="col-md-6">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Add an employee</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="POST" id="addempform">
                    {% csrf_token %}
                  <div class="card-body">
                    <div class="form-group">
                      <label for="input1">Name</label>
                      <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Name" autocomplete="off"  required>
                    </div>
                    <div class="form-group">
                      <label for="input2">Employee code</label>
                      <input type="text" name="empcode" class="form-control" id="empcode" placeholder="Employee code" autocomplete="off"  required>
                    </div>
                  <div class="form-group">
                    <label for="input3">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" autocomplete="off"  required> 
                  </div>
                  <div class="form-group">
                      <label for="input4">Contact</label>
                      <input type="text" class="form-control" name="empmobile" id="empmobile" placeholder="Contact" autocomplete="off"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    </div>
                    <div class="form-check form-check-flat form-check-primary">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="is_projectmanager" value="1">
                        Is project manager?
                      </label>
                    </div>
                  <div class="form-group">
                    <label for="input5">Password</label>
                    <input type="password" name="password1" class="form-control" id="password1" placeholder="Password" required>
                  </div>
                  <div class="form-group">
                    <label for="input6">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" id="password2" placeholder="Password" required>
                  </div>
                  </div>
                  <div class="form-group">
                  {% if error %}
                  <div  class="alert alert-danger" role="alert">
                    {{error}}
                  </div>
                  {% endif %}</div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary mr-2 save" id="save">Submit</button>
                    <button class="btn btn-light" id="cancel">Cancel</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </div>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            $(document).on('click', '#save', function (e) {
            var isValid = true;
             e.preventDefault();
             var add = 0;
             var j = 0;

            if(!$("#first_name").val()){
              $("#first_name").addClass('is-invalid');
              isValid = false;
            }
            else{
              $("#first_name").removeClass('is-invalid');
            }

            if(!$("#empcode").val()){
              $("#empcode").addClass('is-invalid');
              isValid = false;
            }
            else{
              $("#empcode").removeClass('is-invalid');
            }

            if(!$("#email").val()){
              $("#email").addClass('is-invalid');
              isValid = false;
            }
            else{
              if( !validateEmail($("#email").val())) {
                $("#email").addClass('is-invalid');
                isValid = false;
                }
                else{
                  $("#email").removeClass('is-invalid');
                }
            }

            if(!$("#password1").val()){
              $("#password1").addClass('is-invalid');
              isValid = false;
            }
            else{
              if($("#password1").val() != $("#password2").val()){
                $("#password1").addClass('is-invalid');
                $("#password2").addClass('is-invalid');
                isValid = false;
                alert('Make sure your passwords match.');
              }
              else{
                $("#password1").removeClass('is-invalid');
                $("#password2").removeClass('is-invalid');
              }
            }

            if(!$("#password2").val()){
              $("#password2").addClass('is-invalid');
              isValid = false;
            }

            if (isValid){
                $('#addempform').submit();
            }
  
          });

          function validateEmail($email) {
              var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
              return emailReg.test( $email );
            }

          $(document).on('click', '#cancel', function (e) {
            e.preventDefault();
            window.location = "../tracker/employees";   
          });
        </script>
{% endblock %}