{% extends "base.html" %}
{% load static %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0">Projects</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item ">Project</li>
                    <li class="breadcrumb-item active">Add Project</li>
                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->
      
          <!-- Main content -->
          <div class="content">
            <div class="container-fluid">
              <div class="col-md-6">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Add Project</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="POST">
                    {% csrf_token %}
                  <div class="card-body">
                    <div class="form-group">
                      <label for="input1">Project Manager</label>
                      <select class="js-example-basic-single w-100" name="pmUserId">
                        {% for eachval in form %}
                        <option value="{{eachval.id}}">{{eachval.first_name}}</option>
                        {% endfor %}
                      </select>
     
                    </div>
                    <div class="form-group">
                        <label for="input1">Project name</label>
                        <input type="text" class="form-control" name="projectname" id="input1" placeholder="Project name" required>
                      </div> 
                      {% if error %}
                      <div class="alert alert-danger" role="alert">
                        {{ error }}
                      </div>
                      {% endif %}
                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
            </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </div>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
{% endblock %}